/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Late", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}

.header {
    height: 95vh; /* setting agar height tidak 100% */
    background-image: linear-gradient(to right bottom,
        hsla(111, 55%, 64%, 0.801),
        hsla(159, 64%, 43%, 0.801)),
        url(../img/hero.jpg);
    background-size: cover; /*agar gambar mengikuti ketika kita ubah2 browser */
    background-position: top; /*gambar atas tidak akan ke crop*/
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%) ;/* polygon(x y, x y, x y, x y) */
    
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

/* .logo:hover{
    animation: moveInRight 1s ease-out; 
} Bisa gini juga memanfaatkan animation saat hover*/

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;

    backface-visibility: hidden;
}

.heading-primary-main{
    display: block; /*agar ntar ganti garis antara main dan sub*/
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

     /* animation-delay: 3s;
     animation-iteration-count: 3; */
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 22.8px;
/* 
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */

    animation: moveInRight 1s ease-out; /*Cara lain*/

     /* animation-delay: 3s;
     animation-iteration-count: 3; */
}

@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    /*
    60%{
        transform: rotate(30deg);
    }
    */
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s; /*animation versi gampang*/
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /**/
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white {
    background-color: #fff;
    color: #777777;
}