.footer {
    background-color: #333;
    padding: 15rem 0;
    font-size: 1.4rem;

    &__logo-box{
        text-align: center;
    }

    &__logo{
        width: 15rem;
        height: auto;
    }

    &__navigation{
        border-top: .1rem solid rgb(131, 114, 114);
        padding-top: 2rem;
        display: inline-block;
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            background-color: #333;
        }

        &:hover,
        &:active{
            color: $color-primary;
            box-shadow: 0 1rem 2 rem rgba($color-black, 0.4);
            transform: rotate(10deg) scale(1.1);
        }
    }

    &__copyright{
        border-top: .1rem solid rgb(131, 114, 114);
        padding-top: 2rem;
        width: 80%;
        float: right;
    }
}